In [3]:
#6-1-1

def print_company_address():
    num=("010-9515-9136")
    return num

print_company_address()

'010-9515-9136'

In [2]:
#6-1-2
def print_star():
    return "*"*20

print_star()

'********************'

In [1]:
#6-2

def print_address2(name, address):
    print(f"이름 : {name}")
    print(f"주소 : {address}")

print_address2("박민우","경기도 화성기 동탄기흥로353번길77")

이름 : 박민우
주소 : 경기도 화성기 동탄기흥로353번길77

In [1]:
# 6-3
a,b,c = 1,2,3

def get_square():
    print(f"{a}제곱:{a*a} {b}제곱:{b**2} {c}제곱:{c**2}")
a_sq, b_sq, c_sq = get_square(a,b,c)

TypeError: get_square() takes 0 positional arguments but 3 were given

In [ ]:
#LAB 6-1
import turtle
t = turtle.Turtle()
t.shape("turtle")

def square(l):
    for _ in range(4):
        t.forward(l)
        t.left(90)
square(100)
square(200)
square(300)

In [2]:
#LAB 6-2
import turtle
t = turtle.Turtle()
t.shape("turtle")

def n_polygon(n,length):
    t.forward(50)
    t.left(360//n)
    
for _ in range(10):
    t.left(20)
    n_polygon(6)

TypeError: n_polygon() missing 1 required positional argument: 'length'

In [3]:
#LAB 6-3
r = int(input("시급을 입력하시오 : "))
h = int(input("근무 시간을 입력하시오 : "))

def weeklyPay(rate,hour):
    pay = r*h
    if  h > 30 :
        pay = r*30 + r*(h-30)*1.5
    print(f"주급은 {pay}원")

weeklyPay(r,h)

시급을 입력하시오 : 10000
근무 시간을 입력하시오 : 38
주급은 420000.0원

In [7]:
#LAB 6-4
list = [27,90,87,56]

def getMinMax(list,method):
    if method == "max":
        print(max(list))
    elif method == "min":
        print(min(list))
    else:
        print("illegal method")
getMinMax(list,"max")

90

In [ ]:
#LAB 6-5

import turtle
t = turtle.Turtle()
t.shape("turtle")

list = [120,56,309,220,23,98]

def graph(list):
    for i in list:
        t.left(90)
        t.forward(i)
        t.right(90)
        t.forward(50)
        t.right(90)
        t.forward(i)
        t.left(90)
        
graph(list)

In [3]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.speed(0)

def f(x):
    return x**2 + 1

t.goto(200,0)
t.goto(0,0)
t.goto(0,200)
t.goto(0,0)

for x in range(150):
    t.goto(x, int(0.01*f(x)))

In [ ]:
def factorial(a):
    if n <=1:
        return 1
    else:
        return n* factorial(n-1)
    
factorial(4)

In [2]:
#LAB 6-7

def fibonacci(n):
    if n < 0:
        print("잘못된 입력입니다.")
    elif n == 1 :
        return 0 
    elif n == 2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
i = int(input("정수를 입력하세요 : "))
print(fibonacci(i))

정수를 입력하세요 : 15
377

In [13]:
import datetime

datetime.datetime.now()
today = datetime.date.today()
print(today)
today.year
today.month
today.day

2021-04-12

12

In [20]:
%%writefile my_func.py
def mf_print(msg, n=1):
    print(msg*n)

Overwriting my_func.py

In [3]:
#filename : main.py
import my_func

my_func.mf_print("my_func was imported ",3)

my_func was imported my_func was imported my_func was imported

In [5]:
#filename : main.py
import my_func as mf
mf.mf_print("[alias]",5)

[alias][alias][alias][alias][alias]

In [8]:
#filename : main.py
from my_func import mf_print
mf_print("-no module name- ",2)

-no module name- -no module name-

In [10]:
#filename : main.py
from my_func import *
mf_print("-no module name- ",2)

-no module name- -no module name-

In [23]:
#7-1
black_pink = ["Jisoo","Jennie","Lisa","Rose"]

"Jennie" in black_pink

"Psy" in black_pink

False