In [6]:
#8-2
fruits_dic = {"사과":0, "배":0, "수박":0, "귤":0, "포도":0}

a = list(map(int,input("사과, 배, 수박, 귤, 포도의 가격을 공백으로 구분하여 입력 : ").split()))
idx = 0

for i in fruits_dic.keys():
    fruits_dic[i] = a[idx]
    idx+=1 

    
f = input("구매를 원하는 과일의 이름을 입력하시오 : ")
print(f"오늘의 수박 가격은 {fruits_dic[f]}원 입니다")

사과, 배, 수박, 귤, 포도의 가격을 공백으로 구분하여 입력 : 1 2 3 4 5
구매를 원하는 과일의 이름을 입력하시오 : 사과
오늘의 수박 가격은 1원 입니다

In [4]:
#8-1

fruits_dic = {"사과":0, "배":0, "수박":0, "귤":0, "포도":0}

a = list(map(int,input("사과, 배, 수박, 귤, 포도의 가격을 공백으로 구분하여 입력 : ").split()))
idx = 0

for i in fruits_dic.keys():
    fruits_dic[i] = a[idx]
    idx+=1 
    
    print(f"{i} : {fruits_dic[i]}")

사과, 배, 수박, 귤, 포도의 가격을 공백으로 구분하여 입력 : 1 2 3 4 5
사과 : 1
배 : 2
수박 : 3
귤 : 4
포도 : 5

In [4]:
#8-3-1

student_tup = (("211101","최성훈","010-1234-4500"),("211102","김은지","010-2230-6540"),("211103","이세은","010-3232-7788"))

lst1=[]
lst2=[]
student_dic = {}


for i in student_tup:
    lst1.append(i[0])

for i in student_tup:
    lst2.append(i[1:])

for i in range(3):
    student_dic[lst1[i]]=lst2[i]
    
print("학생의 정보 목록")
for i in student_dic.keys():
    print(i,":",student_dic[i])

학생의 정보 목록
211101 : ('최성훈', '010-1234-4500')
211102 : ('김은지', '010-2230-6540')
211103 : ('이세은', '010-3232-7788')

In [1]:
#8-3-2

    
std_num = input("학번을 입력하시오 : ")
print(student_dic[std_num][0])
print(student_dic[std_num][1])

학번을 입력하시오 : 211101

NameError: name 'student_dic' is not defined

In [49]:
#8-3-2
student_tup = (("211101","최성훈","010-1234-4500"),("211102","김은지","010-2230-6540"),("211103","이세은","010-3232-7788"))

lst1=[]
lst2=[]
student_dic = {}

for i in student_tup:
    lst1.append(i[0])

for i in student_tup:
    lst2.append(i[1:])

for i in range(3):
    student_dic[lst1[i]]=lst2[i]
    
student_dic

{'211101': ('최성훈', '010-1234-4500'),
 '211102': ('김은지', '010-2230-6540'),
 '211103': ('이세은', '010-3232-7788')}

In [73]:
#8-4
lst = [10,30,40,50,30,30,20,20,20,10,30]

#8-4-1
lst3 = []
for i in range(len(lst)):
    if lst.count(lst[i]) == 1:
        lst3.append(lst[i])
print(lst3)

[40, 50]

In [94]:
lst1 = set(lst)
lst3 = []
for i in lst1:
    lst3.append(i)
print(sorted(lst3))

[10, 20, 30, 40, 50]

In [84]:
#8-4-3

cnt10 = 1
cnt20 = 1
cnt30 = 1

for i in lst:
    if i == 10:
        cnt10+=1
    elif i == 20:
        cnt20+=1
    elif i  == 30:
        cnt30+=1
print(f"10 : {cnt10}회\n20 : {cnt20}회\n30 : {cnt30}회")

10 : 3회
20 : 4회
30 : 5회

In [98]:
#8-6

s_tuple = [("211101","강이안","010-123-1111"),("211102","박동민","010-123-2222"),("211103","김수정","010-123-3333")]
s_dic={}
for i in s_tuple:
    s_dic[i[0]]=i[1]
for i,j in s_dic.items():
    print(f"{i} : {j}")

211101 : 강이안
211102 : 박동민
211103 : 김수정

In [102]:
#8-6-2

std_num = input("학번을 입력하세요 : ")
i_dic={}
for i in s_tuple:
    i_dic[i[0]]=[i[1],i[2]]
print(f"{std_num} 학생은 {i_dic[std_num][0]}이며, 전화번호는 {i_dic[std_num][1]}입니다.")

학번을 입력하세요 : 211102
211102 학생은 박동민이며, 전화번호는 010-123-2222입니다.